<html lang="ja">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <img src="######">
        <ul class="list-group">
          <li class="list-group-item">name  ### </li>
          <li class="list-group-item">introduction  ### </li>
          <br>
          <a class="btn btn-default btn-sm btn-block" href="#" role="button">スパナマーク</a>
          <br>
          <h2>New book</h2>
          <form>
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="title" class="form-control" id="title" placeholder="Enter title">
            </div>
            <div class="form-group">
              <label for="opinion">Opinion:</label>
              <input type="opinion" class="form-control" id="opinion" placeholder="Enter opinion">
            </div>
            <button type="submit" class="btn btn-default">Create Book</button>
          </form>

        </ul>
      </div>

      <div class="col-md-9">
        <h2>Basic Table</h2>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
          <table class="table">
            <thead>
              <tr>
                <th>image</th>
                <th>title</th>
                <th>opinion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src=""></td>
                <td>タイトル</td>
                <td>書評はここ書評はここ書評はここ書評はここ書評はここ書評はここ</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

</body>
</html>
