<html lang="en">
<head>
  <title>Bookers2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

      <% if user_signed_in? %>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand " href="#">Bookers2</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="homes/top" ><span class="glyphicon glyphicon-user"></span> Home</a></li>
              <li><a href="/books" ><span class="glyphicon glyphicon-log-in"></span> books</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> users</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
          </div>
        </nav>
      <% else %>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand " href="#">Bookers2</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Home</a></li>
 <!--              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> books</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> users</a></li> -->
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
          </div>
        </nav>
      <% end %>

    <%= yield %>
  </body>

   <footer>
    <div class="container">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9 text-right">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
   </footer>
</html>
